<h2 class="title">Destaques</h2>
<div class="productsLine">
    <app-product [image]="cover+'0'+extensao" [name]="'Gan Ie'" [price]="'439.99'"></app-product>
    <app-product [image]="cover+'1'+extensao" [name]="'Eadniv Be Ciowie Eanf Rnanc'" [price]="'199.99'"></app-product>
    <app-product [image]="cover+'6'+extensao" [name]="'Gamee: Siamese'" [price]="'99.99'"></app-product>
    <app-product [image]="cover+'3'+extensao" [name]="'Faserck Faben Gamt Iae'" [price]="'299.99'"></app-product>
    <app-product [image]="cover+'8'+extensao" [name]="'Gamni EE'" [price]="'299.99'"></app-product>
    <app-product [image]="cover+'9'+extensao" [name]="'A7C4M Gan Oi Isiutlienm Gam IE'" [price]="'240'"></app-product>
</div>
