.gameInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
}

.gameImage {
    height: 200px;
    margin-right: 2%;
}

.infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameName {
    font-size: 40px;
}

.gamePrice {
    font-weight: bold;
    color: rgb(0, 0, 185);
    font-size: 25px;
}