<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="faleContainer">
    <app-lista-desejos></app-lista-desejos>
    <div class="commentsContainer">
        <h2 class="title">Avaliações dos nossos clientes:</h2>
        <div class="comment" *ngFor="let user of usersList">
            <app-comment 
                [username]="user.first_name + ' ' + user.last_name"
                [userEmail]="user.email"
                [userImage]="user.avatar">
            </app-comment>
        </div>
    </div>
</div>
