.faleContainer {
    padding: 2%;
}

/*Texto inicial*/
.tituloContato{
    text-align: center;
    font-size: 32px;
    margin-top: 5%;
}

/*Formulário*/
form {
    width: 60%;
    font-size: 24px;
    margin: 2% auto 5%;
    border: rgb(0, 0, 185) 2px solid;
    padding: 2%;
    border-radius: 18px;
}

fieldset{
    padding-left: 2%;
    padding-right: 2%;
}

/*Inputs*/
.input-padrao{
    border: solid 1px black;
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 4%;
    border-radius: 8px;
}

/*Botão*/
.enviar{
    background-color: rgb(0, 0, 185);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: .8% 5%;
    cursor: pointer;
    margin: 1% auto;
}
.enviar:hover{
    transform: scale(1.1);
}
form div{
    text-align: center;
}
