.product {
    padding: 20px;
    background-color: lightgray;
    height: 460px;
    width: 250px;
    position: relative;
    border-radius: 10px;
}

.productImage {
    max-width: 200px;
}

.productName {
    margin: 5% auto;
}

.productPrice {
    color: rgb(0, 0, 185);
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
}