<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="cartContainer">
    <h2 class="title">Lista de Desejos</h2>
    <div class="cartItems">
        <p *ngIf="wishList.length === 0">Você não possui nenhum item na sua lista</p>
        <div class="gameItem" *ngFor="let item of wishList">
            <app-game-info class="game" [game]="item"></app-game-info>
            <div class="buttonsContainer">
                <button class="buttonCart" (click)="clickButton(item.id)">Adicionar ao Carrinho</button>
                <button class="buttonRemove" (click)="removeItem(item.id)">Remover</button>
            </div>
        </div>
    </div>
</div>
