.dropdownContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% auto 5%;
}

.title {
    color: rgb(0, 0, 185);
    margin-top: 1%;
    margin-bottom: 0;
}

select {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px rgb(0, 0, 185) solid;
    margin: 2% auto;
    padding-left: 1%;
}

.gameInfo {
    width: 50%;
}

.buttonCart {
    background-color: rgb(0, 0, 185);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: .8% 5%;
    margin: 1% auto;
}

.buttonCart:hover {
    cursor: pointer;
    transform: scale(1.1);
}
