<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="dropdownContainer">
    <h2 class="title">Comprar jogos:</h2>
    <select [(ngModel)]="select1" (change)="onChange()">
        <option *ngFor="let cover of gameCovers" [value]="cover.id">
            {{cover.nome}}
        </option>
    </select>
    
    <app-game-info *ngIf="game.preco != 0" class="gameInfo" 
        [game]="game">
    </app-game-info>
    
    <button class="buttonCart" *ngIf="this.game.preco > 0" (click)="clickButton()">Adicionar ao Carrinho</button>

</div>
