<div class="dropdownContainer">
    <h2 class="title">Comprar jogos:</h2>
    <select [(ngModel)]="select1" (change)="onChange()">
        <option *ngFor="let cover of gameCovers" [value]="cover.id">
            {{cover.nome}}
        </option>
    </select>
    
    <app-game-info *ngIf="gamePrice != 0" class="gameInfo" 
        [name]="buscaInfo()[0]" 
        [image]="buscaInfo()[2]" 
        [price]="buscaInfo()[1]">
    </app-game-info>
    
    <button class="buttonCart" *ngIf="this.gamePrice > 0" (click)="clickButton()">Adicionar ao Carrinho</button>

</div>
