@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
